* {
  font-family: "Georgia", "Circular Std", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.mobile__container,
.mobile__button {
  display: none;
}

.main__background {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 860px;
  object-fit: cover;
  object-position: bottom;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__logo {
  width: 50px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.nav__item-list {
  list-style: none;
  display: flex;
  gap: 48px;
  padding-top: 14px;
}

.nav__item-list li {
  font-family: "Circular Std";
}

.nav__item-list a {
  text-decoration: none;
  color: black;
  font-family: "Circular Std";
}

.nav__contact {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color;
  font-family: "Circular Std";
  border: 1px solid black;
  cursor: pointer;
}

.first-section {
  height: 544px;
  display: flex;
  justify-content: space-between;
  padding-left: 88px;
}

.first-section__title {
  font-size: 64px;
  line-height: 73px;
  color: #563c1d;
  padding-top: 182px;
  font-weight: 700;
  width: 573px;
}

.first-section__text {
  font-size: 16px;
  line-height: 20px;
  color: #563c1d;
  padding-top: 16px;
  padding-bottom: 24px;
}

.first-section__button {
  width: 201px;
  height: 74px;
  background: #563c1d;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Circular Std";
  font-weight: 500;
}

.second-section {
  padding: 334px 88px 102px 88px;
  text-align: center;
}

.second-section__header {
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 32px;
  font-weight: 400;
}

.second-section__button {
  width: 216px;
  height: 72px;
  border: 1px solid #563c1d;
  color: #563c1d;
  background-color: white;
  cursor: pointer;
}

.third-section {
  display: flex;
  background-color: #faf3dd;
  padding: 72px;
  gap: 64px;
  width: 896px;
}

.third-section__item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  width: 500px;
  flex-basis: calc(1200px / 3);
}

.third-section__item-list li {
  width: 112px;
  height: 108px;
  text-align: center;
}

.third-section__container {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #563c1d;
  margin: 0 auto;
}

.third-section__icon {
  fill: #faf3dd;
}

.third-section__icon--check {
  fill: #563c1d;
  width: 10px;
  height: 20px;
  display: block;
}

.third-section__checklist--container {
  display: flex;
  gap: 8px;
}

.third-section__description {
  font-size: 16px;
  line-height: 20px;
  color: #563c1d;
  padding-top: 16px;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.third-section__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 16px;
}

.third-section__text {
  width: 438px;
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.third-section__checklist {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Circular Std";
}

.fourth-section {
  display: flex;
  gap: 24px;
  padding: 64px 88px 136px 88px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fourth-section__caption {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #59524a;
}

.fourth-section__image {
  width: 198px;
  height: 280px;
  z-index: -1;
}

.fourth-section__description {
  background-color: rgba(38, 38, 38, 0.8);
  height: 50px;
  width: 100%;
  margin-top: -52px;
  position: relative;
  padding: 16px 24px;
  color: white;
}

.fourth-section__image-container {
  display: flex;
  gap: 37px;
  padding-top: 40px;
}

.fifth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 88px;
}

.section__header {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
}

.fifth-section__description {
  font-size: 16px;
  line-height: 20px;
  padding-top: 40px;
  font-family: "Circular Std";
  padding-bottom: 16px;
}

.fifth-section__shipping {
  display: flex;
  gap: 8px;
  padding-bottom: 64px;
}

.fifth-section__icon {
  fill: #563c1d;
}

.fifth-section__shipping-text {
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #563c1d;
  font-family: "Circular Std";
}

.fifth-section__button {
  width: 167px;
  height: 56px;
  background-color: #563c1d;
  border: none;
  color: white;
  cursor: pointer;
}

.main-footer {
  height: 285px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #563c1d;
  padding-top: 40px;
}

.footer__header {
  font-family: "Circular Std";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}

.footer__link-container {
  display: flex;
  gap: 64px;
  width: 300px;
  flex-wrap: wrap;
}

.footer__section-link {
  font-weight: 450;
  font-size: 16px;
  line-height: 16px;
  font-family: "Circular Std";
  color: #59524a;
}

.main__copyright {
  font-family: "Circular Std";
  font-weight: 450;
  font-size: 14px;
  line-height: 16px;
  color: #59524a;
  text-align: center;
}

.portfolio-main-section {
  padding-bottom: 94px;
}

.footer__background--icon {
  width: 40px;
  height: 40px;
  background-color: #faf3dd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  cursor: pointer;
}

.footer__container--icon {
  display: flex;
  gap: 16px;
}

.footer__icon {
  background-color: #faf3dd;
  fill: #563c1d;
}

.footer__icon--mobile {
  display: none;
}

.portfolio-navbar {
  text-align: center;
  padding: 94px 0 50px 0;
  display: flex;
  gap: 9px;
  justify-content: center;
}

.portfolio-nav-button {
  padding: 6px 22px 6px 22px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  border-style: solid;
  border: var(--blue);
  font-size: 16px;
}

.portfolio-nav-button:hover {
  background-color: var(--blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  justify-content: center;
}

.portfolio-image {
  position: absolute;
  overflow: hidden;
  width: 370px;
  color: white;
}

.portfolio-image-animation {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: #563c1d;
  display: inline-block;
  position: relative;
  color: white;
  height: 294px;
  font-size: 18px;
  padding: 16px 45px 19px 24px;
  line-height: 1.5;
}

.portfolio-image-list li:hover .portfolio-image-animation {
  transform: translateY(0);
}

.portfolio-image-list h3 {
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.portfolio-image-list img {
  display: block;
}

.portfolio-card-bottom {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.portfolio-image-list li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-hover-card {
  position: relative;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  width: 370px;
  height: 294px;
  top: -294px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 640px;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .mobile__container,
  .mobile__button {
    display: block;
  }

  .container {
    width: 296px;
  }
  .main__nav,
  .nav__contact {
    display: none;
  }

  .main__background {
    height: 368px;
  }

  .first-section {
    padding-right: 40px;
    margin: 0;
    height: 0;
  }

  .first-section__title {
    font-size: 24px;
    line-height: 32px;
    padding: 0;
    width: 254px;
  }

  .first-section__button {
    width: 113px;
    height: 40px;
    font-weight: 450;
    font-size: 14px;
    line-height: 16px;
    margin-top: 40px;
  }

  .first-section__text {
    padding: 8px 0;
  }

  .second-section {
    padding-left: 0;
    padding-right: 0;
  }

  .second-section__header {
    font-size: 16px;
    line-height: 32px;
  }

  .second-section__button {
    width: 115px;
    height: 40px;
    font-family: "Circular Std";
    font-size: 14px;
    line-height: 16px;
  }

  .footer__container--left {
    margin: 0 auto;
  }

  .footer__container--mid,
  .footer__container--right {
    display: none;
  }

  .footer__icon--mobile {
    display: block;
  }

  .section__header {
    font-size: 22px;
    line-height: 24px;
  }

  .third-section {
    display: none;
    width: 296px;
    height: 592px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
  }

  .fourth-section {
    padding-top: 0px;
  }

  .fourth-section__image-container div:nth-child(2) {
    display: none;
  }

  .fourth-section__image-container {
    gap: 10px;
  }

  .mobile__icon {
    position: absolute;
    top: 22px;
    right: 23px;
    fill: #563c1d;
  }

  .mobile__close {
    fill: #563c1d;
  }

  .mobile__button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
  }
  .mobile__button:hover {
    fill: #563c1d;
  }

  .mobile__container {
    background-color: #fcf9ed;
    width: 100vw;
    height: 368px;
    transform: translateY(-200%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 48px 40px;
    transition: all 250ms ease-in-out;
  }
  .mobile__close {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    right: 25px;
    top: 21px;
  }

  .mobile__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #563c1d;
    font-family: "Circular Std";
    text-decoration: none;
  }

  .mobile__button--contactus {
    padding: 11px 12px;
    height: 40px;
    background: #563c1d;
    font-weight: 450;
    font-size: 14px;
    line-height: 16px;
    font-family: "Circular Std";
    color: white;
    border: none;
  }

  .mobile__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .is-open {
    transform: translateX(0);
    transition: all 250ms ease-in-out;
  }
}
